*{
   margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
 html, body {
    height: 100%;
    width: 100%;
    background-color: #222;
}
*::selection {
    color: #ffff;
    background-color: #222
}
#main{
    height: 100%;
    width: 100%;
}
.cursor {
    height: 15px;
    width: 15px;
    background-color: grey;
    mix-blend-mode: difference;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.2s;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    width: 45px;
    height: 50px;
    padding-bottom: 10px;
    margin-left: 5px;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(to top left, #00ccff 0%, #ff99ff 100%);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 35px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather .weather-type{
    font-size: 20px;
    font-weight: 300;
    margin-top: 2px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather .feels{
    font-size: 20px;
    font-weight: 300;
    margin-top: 2px;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: 5px;
    font-style: bold;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 30px;
}
.details .col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.col p{
    font-size: 18px;
}
.humidity, .wind{
    font-size: 25px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: center;
    justify-content: center;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 12px;
    display: none;
}

@media (max-width: 480px){
    .search input{
        padding-right: 2px;
    }
    .search button {
        margin-top: 5vw;
        margin-left: 27vw;
    }
    .col img{
        width: 30px;
        margin-right: 10px;
    }
    .col p{
        font-size: 13px;
    }
}